:root {
    --white: white;
    --blue: blue;
    --gray: rgb(244, 244, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0.3rem;
}

.todoTitle {
    display: flex;
    background: var(--blue);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 1px 1px 5px var(--blue);
    font-size: 3rem;
    color: var(--white);
}

#todoList {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todoItem{
    display: flex;
    width: 100%;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--blue);
}

.todoItem > div {
    width: 80%;
}

.todoItem:hover {
    cursor: pointer;
    transition: all .5s ease;
    background: var(--gray);
    color: black;
}

.todoItem > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todoItem > input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
}

.todoItem > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todoItem > button {
    width: 2rem;
    font-size: 1.5rem;
    color: red;
    transition: 0.1s;
    background: transparent;
    border: 2px solid red;
    border-radius: 1rem;
}
.todoItem > button:hover {
    font-size: 1.6rem;
    width: 2.1rem;
}

#newItem{
    display: flex;
    background-color: #fff59d;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--blue);
    margin: 10px;
    font: inherit;
}

#newItem > input{
    background-color: #fff59d;
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

#newItem > input::placeholder {
    font-style: italic;
    font-weight: normal;
}